{% include 'daygrid/header.html' %}
{% include 'daygrid/top.html' %}
<body class="main">
    <div id="index-top" class="row justify-content-start">
        <a id="back-button"  onclick=backbutton() class="btn btn-danger invisible" style="margin-left:30px;">Inapoi</a>
        <div id="top-instruction" class=" text-center col-sm-4 border-bottom border-light"></div>
    </div>

    <div class="row d-flex justify-content-center" id="location-event">

    </div>

    
</body>

<script>       
    var locList ={{ locations|safe}};
    {%if events%}var eventList = {{events|safe}};
    {% else %}
    var eventList = false;
    {%endif%}
    </script>