{% load static %}
<header>
    <div id="ads-bar" class="shadow">
        <h6 id="ad-message">acasa</h6>
    </div>

        <div class=" text-center" id="top-center-div">
            <img class="img-responsive " src="{% static 'daygrid/img/anc.png' %}" id="image-logo">
        </div>

    <div class="row text-center" id="navi">
        <div class="col-sm-6 text-center">
            <a href="#"><button type="button" class="btn btn-light shadow" id="nav-button">Inapoi in site</button></a>
        </div>
        <div class="col-sm-6 text-center">
            <a href="#"><button type="button" class="btn btn-light shadow" id="nav-button">Instructiuni</button></a>
        </div>
      
    </div>
</header>


